*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --brown: #a16207;
    --grey-brown: #ffedd5;
    font-family: 'Playfair Display', serif;
}

button{
    cursor: pointer;
}

body{
    display: grid;
    grid-template-rows: 80px 6fr;
    height: 100vh;
}

.header{
    background-color: var(--brown);
    grid-row: 1/2;
}
header{
    margin: 10px 1em;
    font-weight: 500;
    font-size: 2rem;
    color: rgb(235, 231, 220);
}

.main{
    background-color: var(--grey-brown);
    grid-row: 2/3;
}

.table{
    margin: 1em;
    display: grid;
    grid-template-rows: repeat(auto-fit,1fr);
    gap:16px;
}

.card{
    background-color: rgb(255, 253, 249);
    border-radius: 10px;
    position: relative;
    border-radius: 10px;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 10px 10px rgba(70, 70, 70,0.45);
    padding: 8px 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,1fr);
}

.card h2{
    grid-row: 1/2;
}

.card h3 {
    grid-row:2/3 ;
    color: rgba(102, 93, 87, 0.81);
}

.card p{
    grid-row: 3/4;
}

::backdrop{
    background-color: rgba(255, 219, 208,0.75);
}

.add-button{
    width: 50px;
    height: 50px;
    background-image: url("./img/plus-circle-outline.svg");
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.card.button{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    width: 20%;
    margin: 0 auto;
}

.card.button:hover{
    opacity: 1;
}

dialog{
    margin: 2rem auto;
    border: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.3);
    padding: 0 1rem;
    width: min(50%,400px);
    width: min(50%,400px);
}

.form{
    display: flex;
    padding: 2rem 0;
    margin: auto;
}

form{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: auto;
}

.form-row{
    display: grid;
    grid-template-columns: 50px 1fr 1px;
    gap: 32px
}

input{
    padding-left: 10px;
    font-size: 16px;
    font-family: sans-serif;
}

input + span {
    position: relative;
}

input + span::after{
    content: "*";
    position: absolute;
    left: -24px;
    top: -10px;
    font-size: 1.2em;
}

.cancel-button {
    display: flex;
    justify-content: end;
}
.cancel-button > button{
    width: 24px;
    height: 24px;
    background-image: url("./img/alpha-x-circle-outline.svg");
    background-color: inherit;
    border: none;
    margin-top: 8px;
}

.form-buttons{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.form-buttons button{
    padding: 8px 32px;
    background-color: var(--grey-brown);
    border: 1px solid black;
    border-radius: 40px;
}

.delete-button{
    width: 32px;
    height: 32px;
    background-image: url("./img/alpha-x-circle-outline.svg");
    opacity: 0.7;
    border: none;
    border-radius: 50%;
    justify-self: end;
}
